.container{
    background-color: black;
}
.lista-filmes{
    max-width: auto;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.lista-filmes article{
    max-width: 25%;
    background-color: rgb(0, 0, 0);
    padding: 0 15px;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.lista-filmes article button{
    z-index: 1;
    margin-bottom: -10px;
    margin-right: -10px;
    margin-left: auto;
   
    color: rgb(252, 252, 252);
    font-weight: bolder;
    background-color: #585858;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
}
.lista-filmes article button:hover{
    background-color: rgb(64, 187, 64);
}
.lista-filmes h2{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
}
.lista-filmes img{
    width: 100%;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: auto;
    background-color: #1194eb;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.4s;
}
.lista-filmes a:hover{
    background-color: #116febc5;
}
h1{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}